/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: GlacialIndifference;
  src: url(GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: GlacialIndifferenceBold;
  src: url(GlacialIndifference-Bold.otf);
}

@font-face {
  font-family: CormorantGaramondLight;
  src: url(font/CormorantGaramond-Light.ttf);
}
@font-face {
  font-family: CormorantGaramondLightItalic;
  src: url(font/CormorantGaramond-LightItalic.ttf);
}
*{
  margin:0;padding:0;
  font-family: GlacialIndifference;
  color: #093B38;
}
html,body {
  scroll-behavior: auto;
}
h1,h2,h3,h4,h5,h6{
  font-family: GlacialIndifferenceBold;
}
h1{
  @apply text-6xl;
}
h2{
  /* font-size: clamp(18px, 10vw, 70px); */
   @apply text-5xl;
}
h3{
  @apply text-2xl;
  /* font-size: clamp(14px, 10vw, 48px);  */
}
h4{
  @apply text-xl;
  /* font-size: clamp(12px, 2vw, 32px);; */
}
h5{
  @apply text-2xl;
  /* font-size: clamp(10px, 2.2vw, 24px);; */
}
h6{
  font-size: clamp(10px, 1vw, 24px);;
}
i{
  font-family: CormorantGaramondLightItalic;
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  @apply text-base;
}
p{
  font-family: CormorantGaramondLight;
  /* font-size: clamp(1rem, 1.2vw, 2rem); */
  @apply text-base;
}
*, *::before, *::after{
  box-sizing: border-box;
}